body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    background-color: yellowgreen;
    border-radius: 10px;
    width: 505px;
    padding: 5px;
}
.btn{
    background-color: rgb(10, 10, 10);
    color: rgb(16, 2, 2);
    border: none;
    border-radius: 10px;
}
.butoane{
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 5px;
    margin-top: 10px;
 
    place-items: center;  /*pune itemurile in centrul grid*/

    margin-bottom: 10px;
}
#display{
    margin-top: 10px;
    font-size: 3rem;
    padding: 10px;
    border-radius: 10px;
  width: 90%;
    background-color: wheat;
}
.btn{
    width: 80px;
    height: 60px;
    cursor: pointer;
    background-color: blanchedalmond;
    font-size: 1.5rem;
}
.btn:hover{
     background-color: rgb(237, 198, 138);
}
.btn:active{
     background-color: rgb(221, 217, 209);
}

@media (max-width:768px) {
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    text-align: center;
    background-color: yellowgreen;
    border-radius: 10px;
    width: 350px;
    padding: 2px;
}
.btn{
    background-color: rgb(10, 10, 10);
    color: rgb(16, 2, 2);
    border: none;
    border-radius: 10px;
}
.butoane{
    display: grid;
    grid-template-columns: repeat(6, 40px);
    gap: 5px;
    margin-top: 10px;
 
    place-items: center;  /*pune itemurile in centrul grid*/

    margin-bottom: 10px;
}
#display{
    margin-top: 10px;
    font-size: 3rem;
    padding: 10px;
    border-radius: 10px;
  width: 90%;
    background-color: wheat;
}
.btn{
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-color: blanchedalmond;
    font-size: 1rem;
}
.btn:hover{
     background-color: rgb(237, 198, 138);
}
.btn:active{
     background-color: rgb(221, 217, 209);
}


}
